@import "tailwindcss";

:root {
  --background: #07080C;
  --foreground: #ffffff;
}

@theme {
  --color-orange-primary: #E87C1F;
  --color-orange-secondary: #AD560C;
  --color-black: #07080C;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Roboto", sans-serif;
  font-weight: 100;
}

.btn-primary {
  @apply px-10 py-3 text-white font-bold rounded-lg bg-orange-primary hover:bg-orange-secondary cursor-pointer duration-200 ease-in-out;
}

.btn-secondary {
  @apply px-10 py-3 text-orange-primary font-bold hover:opacity-60 rounded-lg cursor-pointer duration-200 ease-in-out;
}